html, body, h1, h2, h3, p, ol, li, a {
    padding: 0;
    border: 0;
    margin: 0;
    font-family:Arial;
    text-decoration:none;
  
}

body{
    background-color: #16161a;
    padding: 20px;
}


nav ul {
    background-color: #7f5af0;
    text-align: center;
    list-style-type: none;
    margin: 0 30%;
    padding: 10px;
    border-radius: 10px;
    
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fffffe;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    padding: 10px 0px;
    border-radius: 10px;
    background-color: #2cb67d;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
  } 

  .asci{
    text-align: center;
    color: #2cb67d;
    animation: fadeIn 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0; /* Opacità iniziale: elemento completamente trasparente */
  }
  to {
    opacity: 1; /* Opacità finale: elemento completamente visibile */
  }
}
.nav-bar{
  width: 25px; /* Modificare la larghezza secondo necessità */
  height: auto; /* Mantenere il rapporto d'aspetto */
  margin: 0 auto;
  display: inline;
  vertical-align: middle;
  scale: 1.5;
}
.nav-bar:hover{
  padding: 0px 0px;
  border-radius: 10px;
  background-color: #2cb67d;
  transition: background-color 0.3s, color 0.3s;
}


  
  



